.sidebar {
  width: 30%;
  height: 100vh;

  @media (max-width: 568px) {
    width: 50%;
  }

  &-notes {
    height: 100vh;
    overflow-y: scroll;

    &-note {
      padding: 25px;
      cursor: pointer;
    }
    &-note:hover {
      background: #ddd;
    }
  }
  &-title {
    display: flex;
    justify-content: space-between;

    @media (max-width: 568px) {
      font-size: 12px;
    }
  }

  p {
    margin: 10px 0;
  }

  small {
    display: block;
    color: #999;
    @media (max-width: 568px) {
      font-size: 12px;
    }
  }
}

.active {
  background: #08c;
  color: white;
}

.not-found {
  margin-top: 15px;
  text-align: center;
}
