.search {
  display: flex;
  position: relative;

  &-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1.5px;
    left: 3px;
  }

  &-input {
    width: 100%;
    max-width: 300px;
    padding-left: 30px;
    outline: none;
    margin: 2px;

    @media screen and (max-width: 568px) {
      &-input {
        max-width: 100%;
        font-size: 12px;
      }
    }
  }
}
