.search {
  display: flex;
  position: relative;

  &-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1.5px;
    left: 3px;
  }

  &-input {
    width: 200px;
    padding-left: 30px;
    outline: none;
  }
}
